.emailAccount-section {
    margin: 100px 10px;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.emailAccount-section .emailAccount-container {
    width: 450px;
}

.emailAccount-container .mid-box h2 {
    font-size: 1.3125rem;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: 700;
    line-height: 26px;
}

.emailAccount-container .box .left-box h6 {
    margin: 0;
    margin-bottom: 4px;
}

.emailAccount-container .box input {
    margin: 0;
    border: none;
    outline: none;
}

.emailAccount-container .box:hover input {
    background-color: #E6E8EA;
    width: 80%;
}

.emailAccount-container .box {
    width: 100%;
    min-height: 80px;
    color: #172C42;
    cursor: pointer;
    display: flex;
    padding: 0px 16px;
    flex-wrap: nowrap;
    font-size: 16px;
    box-shadow: 0 0 0 1px #ccd1d6;
    align-items: center;
    line-height: 22px;
    border-radius: 16px;
    justify-content: space-between;
    background-color: #FFF;
    margin: 15px 0;
}

.emailAccount-container .box:hover {
    box-shadow: 0 0 0 1px #ccd1d6;
    background-color: #E6E8EA;
}

.emailAccount-section .emailAccount-container .next-btn button {
    margin: 15px 0;
    width: 100%;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    background-color: #3CB371;
    min-height: 50px;
    border-radius: 15px;
}


.emailAccount-container .tutor-box {
    min-height: 50px;
}

.emailAccount-container .tutor-box select {
    cursor: pointer;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
}

.emailAccount-container .tutor-box select option {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
}

.emailAccount-container .tutor-box:hover select {
    background-color: #E6E8EA;
}