
.housetask-section {
    margin: 40px 0;
}

.housetask-section .housetask-container {
    width: 450px;
}
.housetask-container .mid-box h2 {
    font-size: 1.3125rem;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: 700;
    line-height: 26px;
}
.housetask-container .box .left-box h6 {
    margin: 0;
    margin-bottom: 2px;
}
.housetask-container  .mid-para {
    margin: 2px;
    font-weight: bold;
}

.housetask-container p {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px;
    color: #505D6D;
}

.housetask-container .box label {
    width: 100%;
    min-height: 35px;
    color: #172C42;
    cursor: pointer;
    display: flex;
    padding: 0px 16px;
    flex-wrap: nowrap;
    font-size: 16px;
    align-items: center;
    line-height: 22px;
    justify-content: space-between;
    background-color: #FFF;
    margin: 15px 0;
}

.payque-section .box label{
    min-height: 60px;
}
.housetask-container .box label:hover {
    box-shadow: 0 0 0 1px #ccd1d6;
    background-color: #E6E8EA;
}
.housetask-section .housetask-container .next-btn{
    margin: 15px 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #3CB371;
    min-height: 50px;
    border-radius: 15px;
}
.housetask-section .housetask-container .next-btn a{
    display:block;
    padding: auto;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}